ArcadeServerFiles/world/dimensions/minecraft/the_end/data/DistantHorizons.sqlite
ArcadeServerFiles/world/dimensions/minecraft/overworld/data/DistantHorizons.sqlite
ArcadeServerFiles/world/dimensions/minecraft/the_nether/data/DistantHorizons.sqlite
ArcadeServerFiles/mods/DistantHorizons-3.2.0-b-26.1.2-fabric-neoforge.jar
